
/* This is a partial blocks.css, you need to add more rules
   to this file to complete the assignment.  Do not add any CSS
   styling to the original index.htm / start.htm */

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Here is one of many  CSS rules you will need... */
div {
    position: fixed;
    border-width:5px;    
    margin: 5px;
    padding: 5px;
    width: 25%;
}
#one {
    bottom: 0px;
    right:0px;
    border-style: solid;
    border-color: blue; 
}
#two {
    top:0px;
    right:0px;
    border-style: solid;
    border-color: green; 
}
#three{
    top:0px;
    left:0px;
    border-style: solid;
    border-color: Orange; 
}
#four {
    bottom:0px;
    left:0px;
    border-style: solid;
    border-color: Yellow; 
}
#link{
    text-align: center;
}
a{
    color: white;
    background-color: blue;
}
